{% extends 'parking_spot/base.html' %}

{% block content %}
    <form method='POST'>{% csrf_token %}
        <h5>What time do you want to view the spots' probabilities for?</h5>
        {{ form.time }}
        <button type='submit' name='time_choice' value='time_choice' class='save btn btn-default'>Select Time</button>
        <h4>Or select a range to view</h4>
        {{ form.From }} {{ form.To}}
        <button type='submit' name='time_range' value='time_range' class='save btn btn-default'>Select Range</button>
    </form>

{% endblock %}